.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 11fr;
}

aside {
    grid-area: 2/1/3/2;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 2px solid rgba(197, 202, 202, 0.36);

}

main {
    grid-area: 2/2/3/3;
    width: 100%;
    height: 100vh;
}

.brand {
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
    background-color: #292e32;
    border-right: 2px solid #292e32;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;


}

.search {
    grid-area: 1/2/2/3;
    height: 100%;
    background-color: #4a4f55;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

input {
    background-color: #4a4f55;
    border: none;
    outline: none;
    width: 80%;
    height: 90%;
}


ul {
    list-style: none;
    padding-left: 15px;
}

.search button {
    background-color: #292e32;
    color: gray;
    border: none;
    outline: none;
    height: 100%;
    padding: 0 20px;

}

aside li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

i {
    margin-right: 10px;
    color: gray;
}

aside li:nth-child(6) {
    margin-bottom: 40px;

}

aside li:nth-child(7) {
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-------------------------------table css----------------------------------*/
.buttons {
    margin-right: 50px;
}
.buttons button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 3px;
}
.export {
    margin-left: -5px;
}
button {
    background-color: #292e32;
    color: gray;
    border: none;
    outline: none;
    height: 100%;
    padding: 0 20px;
}
.table h1 {
    margin-left: 20px;
}
td {
    /* border-top:1px solid black; */
    padding: 5px;
}
.value {
    text-align: center;
    border-collapse: collapse;
}
.table {
    border-spacing: 0;
    height: 100vh;
    width: 100%;
}
tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.162);
}
tr {
    padding: 20px;
}
.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

